@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f0e6;   
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
    transition: opacity 0.12s ease;
}

body.fade-out {
opacity: 0;

}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #1f1f1f;
    color: whitesmoke;
    background: linear-gradient(to right, #afafaf, #202020, #afafaf);
    font-family: "Carattere", cursive;
    font-weight: 300;
    font-style: italic;
    padding: 20px;
    font-size: xx-large;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    font-size: large;
}

.conteudo-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    flex-direction: row;
}

.conteudo {
    display: flex;
    align-items: center;  
    flex-direction: column;
    text-align: center;
    margin: 10px;
    font-family: "Carattere", cursive;
    font-size: x-large;

}

.conteudo h2 {
    margin: 10px;
    font-size: 60px;
    font-family: "Carattere", cursive;
    font-style: italic;
}

.brasoes {
    height: 500px;
    border-radius: 4rem;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

.brasoes:hover {
    transform: translate(-10px, -5px);
    box-shadow: 10px 10px 15px #bebebe
}

footer {
    margin-top: 80px;
    text-align: center;
    padding: 20px;
    font-size: small;
    color: rgb(195, 195, 195);
    background: linear-gradient(to right, #afafaf, #202020, #afafaf);
    border-top: 1px solid #1f1f1f;
}

@media (max-width: 768px) {

    .conteudo-container {
        flex-direction: column;
    }

    .conteudo {
        margin: 20px 0;
    }

    .brasoes {
        width: 60%;
        height: auto;
        border-radius: 2rem;
    }

    .conteudo h2 {
        font-size: 45px;
    }

    .conteudo {
        font-size: larger;
    }

    .cabecalho {
        padding: 10px;
        font-size: x-large;
    }

    footer {
        margin-top: 10px;
        text-align: center;
        padding: 10px;
        font-size: x-small;
        color: rgb(195, 195, 195);
        background: linear-gradient(to right, #afafaf, #202020, #afafaf);
        border-top: 1px solid #1f1f1f;
    }
}



